Repository fridzema/oxide-dock: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, biome, clippy, rustfmt

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.vue'
      run: bunx eslint {staged_files}
    biome:
      glob: '*.{js,ts,vue,css,json}'
      run: bunx biome check {staged_files}
    # Clippy requires whole-crate context â€” runs full check even for single-file changes.
    # To skip pre-commit hooks: LEFTHOOK=0 git commit -m "message"
    clippy:
      glob: '*.rs'
      run: cd src-tauri && cargo clippy -- -D warnings
    rustfmt:
      glob: '*.rs'
      run: cd src-tauri && cargo fmt -- --check

chore(deps): bump non-major dev and prod deps
  bun.lock
  package.json
Due: biome

chore(deps-dev): bump @vue/tsconfig from 0.8.1 to 0.9.1
  bun.lock
  package.json
Due: biome

chore(deps-dev): bump jsdom from 28.0.0 to 29.0.2
  bun.lock
  package.json
Due: biome

chore(deps-dev): bump typescript from 5.9.3 to 6.0.3
  bun.lock
  package.json
Due: biome

chore(deps-dev): bump vite from 7.3.1 to 8.0.8
  bun.lock
  package.json
Due: biome

fix(ci): stop caching node_modules to prevent stale nested deps
  .github/actions/setup-bun/action.yml
Due: none

fix(ci): apply same node_modules cache fix to setup-tauri
  .github/actions/setup-tauri/action.yml
Due: none

fix(linux): disable webkit2gtk DMA-BUF renderer to restore AppImage scroll
  src-tauri/src/lib.rs
Due: clippy, rustfmt

chore(deps): override transitive deps to clear bun audit vulns
  bun.lock
  package.json
Due: biome

fix(e2e): force IPv4 + raise webServer timeout to 120s
  playwright.config.ts
Due: biome

fix(e2e): bind vite to 127.0.0.1 explicitly
  vite.config.ts
Due: biome

chore(deps): refresh JS and Rust dependencies
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/capabilities.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
  src/shims-vue.d.ts
Due: biome

chore(deps): override fast-uri and postcss to clear bun audit
  bun.lock
  package.json
Due: biome

fix(ci): attach build artifacts to release-please release
  .github/workflows/release.yml
Due: none

fix(ci): match release-please tag prefix + add workflow_dispatch
  .github/workflows/release.yml
Due: none

chore: add generated Linux capability schema
  src-tauri/gen/schemas/linux-schema.json
Due: biome

fix: error display, notification await, coverage gate, and stale about info
  src-tauri/src/commands.rs
  src/components/ClipboardDemo.vue
  src/components/FileDialogDemo.vue
  src/components/NotificationDemo.vue
  src/components/SystemInfoDemo.vue
  src/main.ts
  src/pages/AboutPage.vue
  src/shared/ipc.ts
  tests/unit/ClipboardDemo.test.ts
  tests/unit/FileDialogDemo.test.ts
  tests/unit/NotificationDemo.test.ts
  tests/unit/SystemInfoDemo.test.ts
  tests/unit/ipc.test.ts
Due: eslint, biome, clippy, rustfmt

chore: drop stray generated linux-schema.json
  src-tauri/gen/schemas/linux-schema.json
Due: biome

fix(deps): refresh JS and Rust dependencies
  biome.json
  bun.lock
  package.json
  src-tauri/Cargo.lock
Due: biome

docs: add "Built with OxideDock" showcase section
  README.md
Due: none

fix(deps): clear dependency audit advisories
  .github/workflows/cargo-audit.yml
  bun.lock
  package.json
Due: biome

fix(deps): refresh js deps and clear all audit advisories
  bun.lock
  package.json
Due: biome

ci: keep bun.lock in sync on dependabot pull requests
  .github/actions/setup-bun/action.yml
  .github/workflows/dependabot-lockfile.yml
Due: none

fix(deps): clear audit advisories and unblock dependabot npm PRs (#76)
  .github/actions/setup-bun/action.yml
  .github/workflows/dependabot-lockfile.yml
  bun.lock
  package.json
Due: biome

chore(deps): adopt pinia 4, jsdom 30 and @types/node 26
  .github/dependabot.yml
  bun.lock
  package.json
Due: biome

chore(deps): adopt pinia 4, jsdom 30 and @types/node 26 (#78)
  .github/dependabot.yml
  bun.lock
  package.json
Due: biome

chore(deps): refresh Cargo.lock to latest compatible versions
  src-tauri/Cargo.lock
Due: none

chore(deps): refresh Cargo.lock to latest compatible versions (#80)
  src-tauri/Cargo.lock
Due: none

fix(ci): stop tauri-action v1 from blanking the release body
  .github/workflows/release.yml
Due: none

fix(ci): stop tauri-action v1 from blanking the release body (#81)
  .github/workflows/release.yml
Due: none

chore(ci): bump actions/cache to v6 in setup-bun
  .github/actions/setup-bun/action.yml
Due: none

chore(ci): bump actions/cache to v6 in setup-bun (#83)
  .github/actions/setup-bun/action.yml
Due: none

chore(ci): bump actions/cache to v6 in setup-tauri
  .github/actions/setup-tauri/action.yml
Due: none

fix(ci): give the build job headroom over its 15 min cap
  .github/workflows/ci.yml
Due: none

chore(ci): bump actions/cache to v6 in setup-tauri and widen the build timeout (#84)
  .github/actions/setup-tauri/action.yml
  .github/workflows/ci.yml
Due: none

docs: add 12-month roadmap design spec
  docs/superpowers/specs/2026-08-18-roadmap-design.md
Due: none

docs: add roadmap phase 0 implementation plan
  docs/superpowers/plans/2026-08-18-roadmap-phase-0.md
Due: none

docs: correct stale tech stack claims and guard against drift
  README.md
  tests/unit/readme-versions.test.ts
Due: biome

fix(vscode): format with Biome and add Rust debug configuration
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: biome

fix(vscode): enable Rust type pretty-printing in debug configs
  .vscode/launch.json
Due: biome
