Repository fridzema/oxide-dock: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, oxlint, prettier, clippy, rustfmt

eslint:
  run: bunx eslint {staged_files}

oxlint:
  run: bunx oxlint {staged_files}

prettier:
  run: bunx prettier --check {staged_files}

clippy:
  run: cd src-tauri && cargo clippy -- -D warnings

rustfmt:
  run: cd src-tauri && cargo fmt -- --check

fix: update release-please workflow to keep Cargo.lock in sync
  .github/workflows/release-please.yml
Due: prettier

feat(backend): app error type + consistent command results
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands.rs
  src-tauri/src/error.rs
  src-tauri/src/lib.rs
Due: clippy, rustfmt

fix(security): tighten default capabilities & document escalation path
  src-tauri/capabilities/default.json
  src-tauri/capabilities/dev.json
Due: prettier

feat(ipc): add typed invoke wrappers + shared types
  src/shared/ipc.ts
  tests/unit/ipc.test.ts
Due: eslint, oxlint, prettier

feat(state): managed AppState + async command example
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/capabilities.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
  src-tauri/src/commands.rs
  src-tauri/src/lib.rs
  src-tauri/src/state.rs
  src/shared/ipc.ts
  tests/unit/ipc.test.ts
Due: eslint, oxlint, prettier, clippy, rustfmt

feat(sample): open-file -> read-text -> display (safe path flow)
  src-tauri/src/commands.rs
  src-tauri/src/error.rs
  src-tauri/src/lib.rs
  src/components/FileDialogDemo.vue
  src/shared/ipc.ts
  tests/unit/FileDialogDemo.test.ts
  tests/unit/ipc.test.ts
Due: eslint, oxlint, prettier, clippy, rustfmt

style: fix CHANGELOG.md prettier formatting
  CHANGELOG.md
Due: prettier

ci: add cargo-audit step to CI pipeline
  .github/workflows/ci.yml
  SECURITY.md
Due: prettier

fix: standardize repo URLs to fridzema/oxide-dock
  CONTRIBUTING.md
  SECURITY.md
  docs/recommended-plugins.md
  src/components/SystemInfoDemo.vue
  tests/unit/SystemInfoDemo.test.ts
Due: eslint, oxlint, prettier

ci: align make ci with full test suite
  .github/workflows/ci.yml
  Makefile
  README.md
Due: prettier

fix: only install Apple Rust targets on macOS release runners
  .github/workflows/release.yml
Due: prettier

ci: cache Playwright browsers between runs
  .github/workflows/ci.yml
Due: prettier

ci: downgrade build job to Linux-only smoke build
  .github/workflows/ci.yml
Due: prettier

ci: split rust-checks into rust-lint (Linux) + rust-test (matrix)
  .github/workflows/ci.yml
Due: prettier

ci: move cargo-audit to standalone scheduled workflow
  .github/workflows/cargo-audit.yml
  .github/workflows/ci.yml
Due: prettier

ci: pin Rust toolchain in release-please workflow
  .github/workflows/release-please.yml
Due: prettier

ci: add concurrency control to release workflows
  .github/workflows/release-please.yml
  .github/workflows/release.yml
Due: prettier

fix: avoid mutating IPC response in FileDialogDemo
  src/components/FileDialogDemo.vue
  tests/unit/FileDialogDemo.test.ts
Due: eslint, oxlint, prettier

ci: add timeout-minutes to release workflows
  .github/workflows/release-please.yml
  .github/workflows/release.yml
Due: prettier

ci: extract composite actions and optimize CI pipeline
  .github/actions/setup-bun/action.yml
  .github/actions/setup-tauri/action.yml
  .github/workflows/ci.yml
Due: prettier

fix: update SECURITY.md supported versions to 0.x
  SECURITY.md
Due: prettier

ci: restrict release tag pattern to semver format
  .github/workflows/release.yml
Due: prettier

ci: add frontend dependency auditing with bun audit
  .github/workflows/dependency-audit.yml
Due: prettier

ci: exclude CHANGELOG.md from prettier (auto-generated by release-please)
  .prettierignore
Due: none

chore(deps): update all dependencies
  .github/actions/setup-bun/action.yml
  .github/actions/setup-tauri/action.yml
  .github/workflows/cargo-audit.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src/shared/ipc.ts
Due: eslint, oxlint, prettier

fix: align release-please tags with release workflow trigger
  .github/release-please-config.json
Due: prettier

fix: prevent error logging recursion when Tauri runtime unavailable
  src/main.ts
Due: eslint, oxlint, prettier

chore: tighten linting — ESLint strict, TS strict flags, clippy pedantic
  eslint.config.js
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/src/commands.rs
  src-tauri/src/handlers.rs
  src-tauri/src/lib.rs
  tsconfig.app.json
Due: eslint, oxlint, prettier, clippy, rustfmt

fix(security): remove unscoped fs:allow-stat, use content.length instead
  src-tauri/capabilities/default.json
  src/components/FileDialogDemo.vue
  tests/unit/FileDialogDemo.test.ts
Due: eslint, oxlint, prettier

chore: improve test isolation, harden sed_escape, document release tag pattern
  .github/workflows/release.yml
  scripts/bootstrap.sh
  tests/unit/AboutPage.test.ts
Due: eslint, oxlint, prettier

chore: add app icon and ignore Affinity lock files
  .art/icon.png
  .gitignore
Due: none

chore: add @biomejs/biome and eslint-config-biome
  bun.lock
  package.json
Due: prettier

chore: add biome.json configuration
  biome.json
Due: prettier

refactor: slim eslint config to vue-only, delegate JS/TS to biome
  bun.lock
  eslint.config.js
  package.json
Due: eslint, oxlint, prettier

chore: update lint/format scripts to use biome
  biome.json
  package.json
Due: prettier

chore: update lefthook hooks to use biome, drop prettier/oxlint
  lefthook.yml
Due: prettier

style: normalize formatting with biome
  biome.json
  eslint.config.js
  src/components/ClipboardDemo.vue
  src/components/FileDialogDemo.vue
  src/components/NotificationDemo.vue
  src/components/SystemInfoDemo.vue
  src/main.ts
  src/pages/AboutPage.vue
  src/pages/HomePage.vue
  src/stores/counter.ts
  src/style.css
  tests/e2e/app.spec.ts
  tests/unit/AboutPage.test.ts
  tests/unit/App.test.ts
  tests/unit/ClipboardDemo.test.ts
  tests/unit/DefaultLayout.test.ts
  tests/unit/FileDialogDemo.test.ts
  tests/unit/HomePage.test.ts
  tests/unit/NotFound.test.ts
  tests/unit/NotificationDemo.test.ts
  tests/unit/SystemInfoDemo.test.ts
  tests/unit/counter.test.ts
  tests/unit/ipc.test.ts
  tests/unit/router.test.ts
  tests/unit/types.test.ts
  tests/unit/useDarkMode.test.ts
  vite.config.ts
Due: eslint, oxlint, prettier

chore: remove prettier, oxlint, and redundant eslint packages
  .prettierignore
  .prettierrc
  bun.lock
  package.json
Due: prettier

ci: replace prettier/oxlint with biome in lint workflow
  .github/workflows/ci.yml
Due: prettier

fix(types): add *.vue module shim for TS build
  src/shims-vue.d.ts
Due: eslint, oxlint, prettier

Path conditions:
  eslint: any of: *.{js,ts,vue}
  oxlint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,json,md,yml,yaml}
  clippy: any of: *.rs
  rustfmt: any of: *.rs
