Repository fridzema/oxide-dock: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, biome, clippy, rustfmt

eslint:
  run: bunx eslint {staged_files}

biome:
  run: bunx biome check {staged_files}

clippy:
  run: cd src-tauri && cargo clippy -- -D warnings

rustfmt:
  run: cd src-tauri && cargo fmt -- --check

docs: replace stale Prettier references with Biome
  .devcontainer/devcontainer.json
  CONTRIBUTING.md
Due: biome

fix(vscode): run rust-analyzer checks through clippy
  .vscode/settings.json
Due: biome

test: scope README version lookup to the Tech Stack table
  tests/unit/readme-versions.test.ts
Due: biome

docs: replace specta bridge with dependency-free IPC drift guard in roadmap
  docs/superpowers/specs/2026-08-18-roadmap-design.md
Due: none

docs: add roadmap phase 1a implementation plan
  docs/superpowers/plans/2026-08-18-roadmap-phase-1a.md
Due: none

test: guard the Tauri command surface against drift
  tests/unit/ipc-surface.test.ts
Due: biome

test: recognize parameterized tauri::command attributes
  tests/unit/ipc-surface.test.ts
Due: biome

docs: document the IPC drift guard and its limits
  README.md
Due: none

test: close false negatives in the command surface guard
  tests/unit/ipc-surface.test.ts
Due: biome

docs: add roadmap phase 1b implementation plan
  docs/superpowers/plans/2026-08-19-roadmap-phase-1b.md
Due: none

feat(recipes): add insertion anchors and shared apply helpers
  Makefile
  recipes/README.md
  recipes/_lib/apply.ts
  src-tauri/src/lib.rs
  src/main.ts
Due: biome, clippy, rustfmt

docs: fix invalid idempotency check in phase 1b plan
  docs/superpowers/plans/2026-08-19-roadmap-phase-1b.md
Due: none

feat(recipes): add window-state recipe
  recipes/window-state/README.md
  recipes/window-state/apply.ts
Due: biome

docs: pin CI step order around generated Tauri schemas
  docs/superpowers/plans/2026-08-19-roadmap-phase-1b.md
Due: none

feat(recipes): add tray recipe
  recipes/tray/README.md
  recipes/tray/apply.ts
Due: biome

feat(recipes): add updater recipe
  docs/recommended-plugins.md
  recipes/updater/README.md
  recipes/updater/apply.ts
Due: biome

ci(recipes): verify every recipe on PRs and build them nightly
  .github/workflows/recipes-nightly.yml
  .github/workflows/recipes.yml
  README.md
Due: none

fix(recipes): never write unvalidated formatter output to tracked files
  recipes/_lib/apply.ts
  recipes/updater/apply.ts
  tests/unit/recipe-apply.test.ts
Due: biome

fix(recipes): check the tray anchor before renaming the setup binding
  recipes/tray/apply.ts
Due: biome

ci(recipes): sign the nightly updater build with a throwaway keypair
  .github/workflows/recipes-nightly.yml
Due: none

fix(ci): make the TypeScript type check actually check something
  .github/workflows/ci.yml
  .github/workflows/recipes.yml
  package.json
Due: biome

docs(recipes): nightly builds are Linux-only, not cross-platform
  recipes/README.md
Due: none

fix(ci): cache Linux Tauri dependencies to stop apt timeouts
  .github/actions/linux-deps/action.yml
  .github/actions/setup-tauri/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(ci): cache Linux Tauri dependencies to stop apt timeouts (#86)
  .github/actions/linux-deps/action.yml
  .github/actions/setup-tauri/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(deps): refresh dependencies and clear bun audit findings
  bun.lock
  package.json
  src-tauri/Cargo.lock
Due: biome

fix(ci): repair the Recipes Nightly workflow
  .github/workflows/recipes-nightly.yml
Due: none

fix(deps): clear dependency audit and repair Recipes Nightly (#93)
  .github/workflows/recipes-nightly.yml
  bun.lock
  package.json
  src-tauri/Cargo.lock
Due: biome

fix(deps): upgrade Vitest to 5 and VueUse to 15, refresh Cargo.lock
  bun.lock
  package.json
  src-tauri/Cargo.lock
Due: biome

fix(deps): upgrade Vitest to 5 and VueUse to 15, refresh Cargo.lock (#95)
  bun.lock
  package.json
  src-tauri/Cargo.lock
Due: biome

fix(deps): refresh npm and Cargo deps, clear bun audit
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
Due: biome

fix(deps): refresh npm and Cargo deps, clear bun audit (#101)
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
Due: biome

Path conditions:
  eslint: any of: *.vue
  biome: any of: *.{js,ts,vue,css,json}
  clippy: any of: *.rs
  rustfmt: any of: *.rs
